@{
    ViewData["Title"] = "Pagina de Inicio";
}

<section class="ts-tabslide">
    <div id="tabs-slidepost">
        <div id="ts-post-features">
            <div class="tab-list-post">
                <div class="item-post">
                    <a href="#"><figure><img src="~/imagenes/8-633x391.jpg" alt="Image" /></figure></a>
                    <div class="info">
                        <span class="category-name"><a href="#">Lifestyle</a></span>
                        <div class="post-title">
                            <h3><a href="#">A Healthy Habit</a></h3>
                            <a href="#"><span class="icon-postbanner"><img src="~/images/icon-postbanner.png" alt="A Healthy Habit" /></span></a>
                        </div>
                    </div>
                </div>

                <div class="item-post">
                    <a href="#"><figure><img src="~/imagenes/1-633x391.jpg" alt="Image" /></figure></a>
                    <div class="info">
                        <span class="category-name"><a href="#">Food &amp; Drink</a></span>
                        <div class="post-title">
                            <h3><a href="#">Valentines Day</a></h3>
                            <a href="#"><span class="icon-postbanner"><img src="~/images/icon-postbanner.png" alt="Valentines Day" /></span></a>
                        </div>
                    </div>
                </div>

                <div class="item-post">
                    <a href="#"><figure><img src="~/imagenes/9-633x391.jpg" alt="Image" /></figure></a>
                    <div class="info">
                        <span class="category-name"><a href="#">Lifestyle</a></span>
                        <div class="post-title">
                            <h3><a href="#">Working Date</a></h3>
                            <a href="#"><span class="icon-postbanner"><img src="~/images/icon-postbanner.png" alt="Working Date" /></span></a>
                        </div>
                    </div>
                </div>

                <div class="item-post">
                    <a href="#"><figure><img src="~/imagenes/2-633x391.jpg" alt="Image" /></figure></a>
                    <div class="info">
                        <span class="category-name"><a href="#">Lifestyle</a></span>
                        <div class="post-title">
                            <h3><a href="#">Flowers &amp; Decorations</a></h3>
                            <a href="#"><span class="icon-postbanner"><img src="~/images/icon-postbanner.png" alt="Flowers &amp; Decorations" /></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!--End tabs-->
    <div class="ts-nav-sliders">
        <div class="nav-controls">
            <a href="javascript:void(0)" class="nav-control nav-control-latest active" data-post="featured">
                <span class="ts-border"></span>
                <i class="fa fa-star-o"></i><hr />
                <span class="label">Features</span>
            </a>
            <a href="javascript:void(0)" class="nav-control nav-control-random " data-post="random">
                <span class="ts-border"></span>
                <i class="fa fa-retweet"></i><hr />
                <span class="label">Random</span>
            </a>
            <a href="javascript:void(0)" class="nav-control nav-control-favorites " data-post="favorites">
                <span class="ts-border"></span>
                <i class="fa fa-bookmark-o"></i><hr />
                <span class="label">Favorites</span>
            </a>
        </div>
    </div>
</section>

<div id="main_container">
    <div class="container">
        <div class="row">
            <!-- Start Loop Posts -->
            <div id="inner-container" class="col-md-9 col-lg-9 col-sm-8 col-xs-12 ts-main-right">
                <div class="ts-blog blog_peronal ts-blog-default">
                    <div class="ts_author_hide blog-item text-center post type-post status-publish format-image has-post-thumbnail hentry category-lifestyle tag-lifestyle post_format-post-format-image">
                        <div class="post-meta-type post-image">
                            <a href="#"><figure><img src="~/imagenes/8.jpg" alt="THE DEATH OF SUPERMAN" /></figure></a>
                        </div>
                        <article>
                            <div class="bg-category">
                                <div class="category-name">
                                    <span><a href="#" rel="category tag">SUPERMAN</a></span>
                                </div>
                            </div>
                            <div class="title-blogitem text-center">
                                <h3><a href="#">THE DEATH OF SUPERMAN</a></h3>
                                <hr />
                            </div>
                            <div class="except-post text-left">
                                <p>Mauris SEM SEM, SEM es el principal y el autor de, cursus congue Massa. El gluten. Hasta que las mayores puntuaciones de forma gratuita, pero la fotografía es siempre uno sapiens. Para poner los plátanos Pakistán, ensalada de un elemento más grande. Un servicio de directorio de presentación iaculis Ullamcorper augue vitae. Jasmine activo, el Football Dreams Competencia, ...</p>
                            </div>
                            <a class="blog-read ts-button" href="#">Leer más</a>
                            <div class="bottom-blog">
                                <ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
                                    <li><i class="fa fa-clock-o"></i>Enero 27, 2019</li>
                                </ul>
                                <a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
                                <ul class="group-share pull-right">
                                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                        </article>
                    </div>
                    <div class="ts_author_hide blog-item text-center  post type-post status-publish format-image has-post-thumbnail hentry category-food-drink post_format-post-format-image">
                        <div class="post-meta-type post-image">
                            <a href="#"><figure><img src="~/imagenes/1.jpg" alt="BATMAN: THE KILLING JOKE" /></figure></a>
                        </div>
                        <article>
                            <div class="bg-category">
                                <div class="category-name">
                                    <span><a href="#" rel="category tag">Comics</a></span>
                                </div>
                            </div>
                            <div class="title-blogitem text-center">
                                <h3><a href="#">BATMAN: THE KILLING JOKE</a></h3>
                                <hr />
                            </div>
                            <div class="except-post text-left">
                                <p>Corea del Norte que se efectúa nibh, en un fin de semana que era. Morbi nulla vel facilisis, Identificación del posuere velita urna metus. Mecenas lorem que el libero empleado. Nulla. Pellentesque fermentum, felis vel Lacinia pulvinar, hombre, sí, sapien tincidunt, sit amet varius lacus Justo nisi ID. Ahora Performance Award graduada, ...</p>
                            </div>
                            <a title="READ MORE" class="blog-read ts-button" href="#">Leer más</a>
                            <div class="bottom-blog">
                                <ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
                                    <li><i class="fa fa-clock-o"></i>Enero 27, 2019</li>
                                </ul>
                                <a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
                                <ul class="group-share pull-right">
                                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                        </article>
                    </div>


                    <div class="ts_author_hide blog-item text-center  post type-post status-publish format-quote has-post-thumbnail hentry category-travel post_format-post-format-quote">
                        <div class="post-meta-type post-quote">
                            <div class="main-quote">
                                <blockquote><p>Appropriately impact market-driven meta-services via interdependent infrastructures recaptiualize holistic synergy whereas adaptive interfaces</p></blockquote>
                                <cite>formativa</cite>
                            </div>
                        </div>
                    </div>

                    <div data-format="image" class="ts_author_hide blog-item text-center  post type-post status-publish format-image has-post-thumbnail hentry category-lifestyle post_format-post-format-image">
                        <div class="post-meta-type post-image">
                            <a href="#"><figure><img src="~/imagenes/23.jpg" alt="SUPERMAN: RED SON" /></figure></a>
                        </div>
                        <article>
                            <div class="bg-category">
                                <div class="category-name">
                                    <span><a href="#" rel="category tag">Superman</a></span>
                                </div>
                            </div>
                            <div class="title-blogitem text-center">
                                <h3><a href="#">SUPERMAN: RED SON</a></h3>
                                <hr />
                            </div>
                            <div class="except-post text-left">
                                <p>Corea del Norte que se efectúa nibh, en un fin de semana que era. Morbi nulla vel facilisis, Identificación del posuere velita urna metus. Mecenas lorem que el libero empleado. Nulla. Pellentesque fermentum, felis vel Lacinia pulvinar, hombre, sí, sapien tincidunt, sit amet varius lacus Justo nisi ID. Ahora Performance Award graduada, ...</p>
                            </div>
                            <a title="READ MORE" class="blog-read ts-button" href="#">Leer más</a>
                            <div class="bottom-blog">
                                <ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
                                    <li><i class="fa fa-clock-o"></i>Enero 27, 2019</li>
                                </ul>
                                <a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
                                <ul class="group-share pull-right">
                                    <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="https://pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
                                </ul>
                            </div>
                        </article>
                    </div>

                    <div class="navigation-style1">
                        <div class="navigation-style-1">
                            <div class="next-post"><a href="#">Older posts<i class="fa fa-arrow-right"></i></a></div>
                            <div class="prev-post"></div>
                        </div>
                    </div>
                </div><!-- /.ts-blog blog_peronal -->
            </div>
            <!-- End Loop Posts -->
            <!-- Start sidebar -->
            <aside id="sidebar" class="col-md-3 col-sm-4 col-xs-12 sidebar sidebar-left">

                <div id="ts_about_me-1" class="widget TS_About_Me">
                    <div class="ts-about-widget">
                        <div class="title-widget">
                            <h3>Nosotros</h3>
                        </div>
                        <div class="content-aboutwidget">
                            <div class="post-thumb">
                                <figure><img src="~/imagenes/avata-about.png" alt="Avatar"></figure>
                            </div>
                            <p>Donec eget risus porttitor lectus ates faucibus libero. In neque .Utultricies faucibus ultricies. In rutrum …<a href="#">Read more &gt;&gt;</a></p>
                        </div>
                    </div>
                </div>
                <div id="ts_social-2" class="widget TS_Social">
                    <div class="ts-social-widget">
                        <div class="title-widget"><h3>Síguenos</h3></div>
                        <ul class="list-social-widget group-share">
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="ts_newsletter-2" class="widget TS_Newsletter">
                    <div class="newsletter-widget">
                        <div class="title-widget">
                            <h3>Boletines</h3>
                        </div>
                        <div class="form-newsletter">
                            <form method="post" id="sendmailchip" action="#" onsubmit="sendmailchimp(this); return false;">
                                <p></p>
                                <div class="form-ground">
                                    <input type="text" name="user_firstname" placeholder="Nombre*">
                                    <input type="text" name="user_lastname" placeholder="Apellido*">
                                    <input type="email" name="email" placeholder="Correo electrónico*">
                                    <input type="hidden" name="api_mailchimp" value="">
                                    <input type="hidden" name="listid_mailchimp" value="">
                                    <input type="hidden" name="message_mailchimp" value="">
                                    <span class="input-button"><input type="submit" value="SUBSCRIBIRME"></span>
                                    <div class="ts-message"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="ts_banner_spot-1" class="widget TS_Banner_Spot">
                    <div class="banner-spot">
                        <div class="title-widget">
                            <h3>Banner Spot</h3>
                        </div>
                        <div class="banner-image">
                            <a href="#" title="Banner Spot" target="_blank">
                                <figure><img src="~/imagenes/banner-img.jpg" alt="Banner Spot"></figure>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="ts_instagram_widget-4" class="widget TS_Instagram_Widget">
                    <div class="instagram">
                        <div class="title-widget">
                            <h3>Instagram</h3>
                        </div>
                        <div class="photo-instagram">
                            <ul class="list-photo">
                                <li><a href="#" target="_self"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_self"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_self"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                            </ul>
                            <p>Follow Us #&nbsp;<a href="//instagram.com/deathtostock" target="_self">deathtostock</a></p>
                        </div>
                    </div>
                </div>
                <div id="ts_footer_twitter-1" class="widget Ts_Footer_Twitter">
                    <div class="tweets-widget">
                        <div class="title-widget">
                            <h3>TWEETS</h3>
                        </div>
                        <div class="conten-twitter-widget">
                            <span class="icon-tweet"><i class="fa fa-twitter"></i></span>
                            <div class="twitter-slide">
                                <div class="item-tweet">
                                    <div class="tweet-text">
                                        How do you say Envato in Chinese? Here&#039;s how we worked it out. https://t.co/ENnOX3LqWt https://t.co/jzIY9XyS04
                                    </div>
                                    <p class="timestamp">
                                        <a target="_blank" href="#">11-Mar-2016</a>
                                    </p>
                                    <div class="twitter_intents">
                                        <span><a href="https://twitter.com/intent/tweet?in_reply_to=708126173956538368" target="_blank" class="reply-tweet">Reply</a></span>
                                        <span><a href="https://twitter.com/intent/retweet?tweet_id=708126173956538368" target="_blank" class="retweet">Retweet</a></span>
                                        <span><a href="https://twitter.com/intent/favorite?tweet_id=708126173956538368" target="_blank" class="favorite-tweet">Favorite</a></span>
                                    </div>
                                </div>
                                <div class="item-tweet">
                                    <div class="tweet-text">
                                        Fancy being found? Here&#039;s what you need to know about SEO in 2016. https://t.co/5pxJQ8aYt8 https://t.co/L5CZDSVmYi
                                    </div>
                                    <p class="timestamp">
                                        <a target="_blank" href="#">10-Mar-2016</a>
                                    </p>
                                    <div class="twitter_intents">
                                        <span><a href="https://twitter.com/intent/tweet?in_reply_to=707946708152557569" target="_blank" class="reply-tweet">Reply</a></span>
                                        <span><a href="https://twitter.com/intent/retweet?tweet_id=707946708152557569" target="_blank" class="retweet">Retweet</a></span>
                                        <span><a href="https://twitter.com/intent/favorite?tweet_id=707946708152557569" target="_blank" class="favorite-tweet">Favorite</a></span>
                                    </div>
                                </div>
                                <div class="item-tweet">
                                    <div class="tweet-text">
                                        Don&#039;t miss out; get 50% off siteground web hosting &amp; a year of tutsplus for free. https://t.co/bAjoZcXuhr https://t.co/BvhWnvL3mY
                                    </div>
                                    <p class="timestamp">
                                        <a target="_blank" href="#">10-Mar-2016</a>
                                    </p>
                                    <div class="twitter_intents">
                                        <span><a href="https://twitter.com/intent/tweet?in_reply_to=707868423322247168" target="_blank" class="reply-tweet">Reply</a></span>
                                        <span><a href="https://twitter.com/intent/retweet?tweet_id=707868423322247168" target="_blank" class="retweet">Retweet</a></span>
                                        <span><a href="https://twitter.com/intent/favorite?tweet_id=707868423322247168" target="_blank" class="favorite-tweet">Favorite</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="ts_advertisement_widget-1" class="widget TS_Advertisement_Widget">
                    <div class="advertisement">
                        <div class="title-widget">
                            <h3>Advertisement</h3>
                        </div>
                        <ul class="banner-image">
                            <li>
                                <a href="#" title="Advertisement" target="_blank">
                                    <figure><img src="~/imagenes/img2.jpg" alt="Advertisement"></figure>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Advertisement" target="_blank">
                                    <figure><img src="~/imagenes/img21.png" alt="Advertisement"></figure>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Advertisement" target="_blank">
                                    <figure><img src="~/imagenes/img22.png" alt="Advertisement"></figure>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="Advertisement" target="_blank">
                                    <figure><img src="~/imagenes/img23.png" alt="Advertisement"></figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="ts_quotes_widget-5" class="widget TS_Quotes_Widget">
                    <div class="quotes-widget">
                        <div class="title-widget">
                            <h3>Quote</h3>
                        </div>
                        <div class="contens-quotes-widget">
                            <div class="quotes-slide owl-carousel owl-theme">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper">
                                        <div class="owl-item">
                                            <div class="item-quote">
                                                <div class="quote-text">
                                                    Don't cry because it's over, smile because it happened.
                                                </div>
                                                <div class="quote-author">
                                                    Dr. Seuss
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!-- End sidebar -->
        </div>
    </div>
</div>