@{
    ViewData["Title"] = "About";
}
<div id="main_container">
    <div class="container">
        <div class="row">
            <!-- Start Loop Posts -->
            <div id="inner-container" class="col-md-9 col-sm-8 col-xs-12 main-container ts-hassidebar">
                <div class="parallax-about">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="wpb_wrapper">
                                <div class="  section-title center">
                                    <h3 class="bold text-uppercase">NOSOTROS</h3><div class="hr"></div>
                                </div>
                                <div class="wpb_content_element vc_align_center">
                                    <img width="1162" height="775" src="~/imagenes/3.jpg" alt="" />
                                </div>
                                <div class=" quote-type-style2">
                                    <p>
                                        Donec velit quam, ultricies pharetra elit ut, pharetra vulputate libero roin ac justo aliquam<br>
                                        egestas felis vel, feugiat lectus nulla vela
                                    </p>
                                    <cite>Robert Smith</cite>
                                </div>
                                <div class="wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Quisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien, sit amet varius lacus justo id nisi. Nunc euismod lacus lectus, ac ullamcorper neque lacinia eget justo consectetur egestas.Phasellus et odio et justo consectetur egestas</p>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-7">
                                        <div class="wpb_wrapper">
                                            <div class="skillbarstyle2">
                                                <div class=" skillbar clearfix" data-percent="70%">
                                                    <div class="skillbar-title"><span>Superman</span></div>
                                                    <div class="skill-bar-bg">
                                                        <div class="skillbar-bar skillbar-bar1">
                                                            <div class="skill-bar-percent">70%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" skillbar clearfix" data-percent="80%">
                                                    <div class="skillbar-title"><span>Batman</span></div>
                                                    <div class="skill-bar-bg">
                                                        <div class="skillbar-bar skillbar-bar2">
                                                            <div class="skill-bar-percent">80%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" skillbar clearfix" data-percent="90%">
                                                    <div class="skillbar-title"><span>Iron-Man</span></div>
                                                    <div class="skill-bar-bg">
                                                        <div class="skillbar-bar skillbar-bar3" style="width: 90%; background: rgb(251, 200, 202);">
                                                            <div class="skill-bar-percent">90%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" skillbar clearfix" data-percent="75%">
                                                    <div class="skillbar-title"><span>Hulk</span></div>
                                                    <div class="skill-bar-bg">
                                                        <div class="skillbar-bar skillbar-bar4">
                                                            <div class="skill-bar-percent">75%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-5">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1430109665481">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="1162" height="775" src="~/imagenes/9.jpg" class="vc_single_image-img attachment-full" alt="9" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Loop Posts -->
            <!-- Start sidebar -->
            <aside id="sidebar" class="col-md-3 col-sm-4 col-xs-12 sidebar sidebar-left">

                <div id="ts_about_me-1" class="widget TS_About_Me">
                    <div class="ts-about-widget">
                        <div class="title-widget">
                            <h3>Nosotros</h3>
                        </div>
                        <div class="content-aboutwidget">
                            <div class="post-thumb">
                                <figure><img src="~/imagenes/avata-about.png" alt="Avatar"></figure>
                            </div>
                            <p>Donec eget risus porttitor lectus ates faucibus libero. In neque .Utultricies faucibus ultricies. In rutrum …<a href="#">Read more &gt;&gt;</a></p>
                        </div>
                    </div>
                </div>
                <div id="ts_social-2" class="widget TS_Social">
                    <div class="ts-social-widget">
                        <div class="title-widget"><h3>Síguenos</h3></div>
                        <ul class="list-social-widget group-share">
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="ts_newsletter-2" class="widget TS_Newsletter">
                    <div class="newsletter-widget">
                        <div class="title-widget">
                            <h3>Boletines</h3>
                        </div>
                        <div class="form-newsletter">
                            <form method="post" id="sendmailchip" action="#" onsubmit="sendmailchimp(this); return false;">
                                <p></p>
                                <div class="form-ground">
                                    <input type="text" name="user_firstname" placeholder="Nombre*">
                                    <input type="text" name="user_lastname" placeholder="Apellido*">
                                    <input type="email" name="email" placeholder="Correo electrónico*">
                                    <input type="hidden" name="api_mailchimp" value="">
                                    <input type="hidden" name="listid_mailchimp" value="">
                                    <input type="hidden" name="message_mailchimp" value="">
                                    <span class="input-button"><input type="submit" value="SUBSCRIBIRME"></span>
                                    <div class="ts-message"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="ts_banner_spot-1" class="widget TS_Banner_Spot">
                    <div class="banner-spot">
                        <div class="title-widget">
                            <h3>Banner Spot</h3>
                        </div>
                        <div class="banner-image">
                            <a href="#" title="Banner Spot" target="_blank">
                                <figure><img src="~/imagenes/banner-img.jpg" alt="Banner Spot"></figure>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="ts_instagram_widget-4" class="widget TS_Instagram_Widget">
                    <div class="instagram">
                        <div class="title-widget">
                            <h3>Instagram</h3>
                        </div>
                        <div class="photo-instagram">
                            <ul class="list-photo">
                                <li><a href="#" target="_self"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_self"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_self"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                                <li><a href="#" target="_blank"><img src="~/imagenes/23-150x150.jpg" alt="Instagram Image" title="Instagram Image"></a></li>
                            </ul>
                            <p>Follow Us #&nbsp;<a href="//instagram.com/deathtostock" target="_self">deathtostock</a></p>
                        </div>
                    </div>
                </div>



            </aside>
            <!-- End sidebar -->
        </div>
    </div>
</div>