@{
    ViewData["Title"] = "Producto";
}
<!-- Main content -->
<div id="main_container" class="ts-page-shop woocommerce woocommerce-page">
    <!-- Banner -->
    <div class="container">
        <div class="main-banner-shop">
            <h2>TIENDA DE COMICS</h2>
            <div class="hr"></div>
            <p>Quisque et lacinia nisi, ut ullamcorper est. Etiam sed pulvinar turpis. Maecenas ornare felis eros</p>
            <p>nec luctus ante convallis non</p>
        </div>
    </div>
    <!-- End Banner -->

    <div class="container">
        <div class="row">
            <div id="content-left" class="content-left page-with-sidebar col-sm-8 col-md-9 col-lg-9">
                <nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Comics</a>&nbsp;/&nbsp;The Walking Dead</nav>



                <div id="product-250" class="post-250 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-home-goods product_tag-bag product_tag-blue shipping-taxable purchasable product-type-simple product-cat-bags product-cat-home-goods product-tag-bag product-tag-blue instock">
                    <div class="ts-image-detail">
                        <div class="images">
                            <a href="#" class="woocommerce-main-image zoom" title="img3"><img width="458" height="512" src="~/imagenes/product/img4-264x290.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="img3" title="img3"></a>

                        </div>
                    </div>

                    <div class="summary entry-summary">
                        <h1 itemprop="name" class="product_title entry-title">The Walking Dead</h1>
                        <div>
                            <p class="price"><span class="amount">S/ 20.00</span></p>
                            <meta itemprop="price" content="20">
                            <meta itemprop="priceCurrency" content="GBP">
                            <link itemprop="availability" href="#">
                        </div>
                        <div itemprop="description">
                            <p>Muisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien.Muisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada</p>
                        </div>
                        <form class="cart" method="post" enctype="multipart/form-data">
                            <div class="quantity buttons_added"><input type="button" value="-" class="minus"><input type="text" name="quantity" value="1" title="Qty" class="input-text qty text" size="4"><input type="button" value="+" class="plus"></div>
                            <input type="hidden" name="add-to-cart" value="250">
                            <button type="submit" class="single_add_to_cart_button button alt">Agregar</button>
                        </form>
                        <div class="product_meta">
                            <span class="posted_in">Categorías: <a href="#" rel="tag">Bags</a>, <a href="#" rel="tag">Comics</a>.</span> <br />
                            <span class="tagged_as">Etiquetas: <a href="#" rel="tag">Clásicos</a>, <a href="#" rel="tag">revistas</a>.</span>
                        </div>
                    </div><!-- .summary -->
                    <div class="ts-horizontalTab ts-tab ts-tab-style1">
                        <ul class="resp-tabs-list">
                            <li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0"><span>Description</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-1"><span>Reviews (0)</span></li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div>
                                <h2>Product Description</h2>
                                <p>Muisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien</p>
                            </div>
                            <div>
                                <div class="panel entry-content wc-tab" id="tab-reviews">
                                    <div id="reviews">
                                        <div id="comments">
                                            <h2>Reviews</h2>
                                            <p class="woocommerce-noreviews">There are no reviews yet.</p>
                                        </div>
                                        <div id="review_form_wrapper">
                                            <div id="review_form">
                                                <div id="respond" class="comment-respond">
                                                    <h3 id="reply-title" class="comment-reply-title">Be the first to review “Flannel Throw – Cream”</h3>
                                                    <form action="#" method="post" id="commentform" class="comment-form">

                                                        <label>Your Rating</label><p class="stars"><span><a class="star-1" href="#">1</a><a class="star-2" href="#">2</a><a class="star-3" href="#">3</a><a class="star-4" href="#">4</a><a class="star-5" href="#">5</a></span></p>
                                                        <p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                                                        <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                                                        <p class="form-submit">
                                                            <input name="submit" type="submit" id="submit" class="submit" value="Submit"> <input type="hidden" name="comment_post_ID" value="261" id="comment_post_ID">
                                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                        </p>
                                                    </form>
                                                </div><!-- #respond -->
                                            </div>
                                        </div>


                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <br /><br />
                    <div class="related products">
                        <h2>Comics relacionados</h2>
                        <div class="products">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3 first odd post-260 product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags sale shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                                    <div class="ts-product-img">
                                        <a href="#">
                                            <span class="onsale">Sale!</span>
                                            <img width="264" height="290" src="~/imagenes/product/imh90-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="imh90">
                                        </a>

                                        <div class="ts-cart-woocomer">
                                            <a href="#" rel="nofollow" data-product_id="260" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                        </div>
                                    </div>
                                    <div class="ts-product-info">
                                        <h3><a href="#">Batman The Dark Knight</a></h3>
                                        <span class="price"><del><span class="amount">S/ 15.00</span></del> <ins><span class="amount">S/ 12.00</span></ins></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 even post-264 product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags sale shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                                    <div class="ts-product-img">
                                        <a href="#">
                                            <span class="onsale">Sale!</span>
                                            <img width="264" height="290" src="~/imagenes/product/img2-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="thumsb1">
                                        </a>

                                        <div class="ts-cart-woocomer"><a href="#" rel="nofollow" data-product_id="264" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a></div>
                                    </div>
                                    <div class="ts-product-info">
                                        <h3><a href="#">Marvel Civil War</a></h3>
                                        <span class="price"><del><span class="amount">S/ 3.00</span></del> <ins><span class="amount">S/ 2.00</span></ins></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 odd post-255 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-endswell-rings product_tag-throw shipping-taxable purchasable product-type-simple product-cat-bags product-cat-endswell-rings product-tag-throw instock">
                                    <div class="ts-product-img">
                                        <a href="#">
                                            <img width="264" height="290" src="~/imagenes/product/img9-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img9">
                                        </a>
                                        <div class="ts-cart-woocomer"><a href="#" rel="nofollow" data-product_id="255" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a></div>
                                    </div>
                                    <div class="ts-product-info">
                                        <h3><a href="#">X-Men Days of Future Past</a></h3>
                                        <span class="price"><span class="amount">S/ 35.00</span></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 last even post-263 product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                                    <div class="ts-product-img">
                                        <a href="#">
                                            <img width="264" height="290" src="~/imagenes/product/img5-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                        </a>

                                        <div class="ts-cart-woocomer">
                                            <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                        </div>
                                    </div>
                                    <div class="ts-product-info">
                                        <h3><a href="#">SUPERMAN: RED SON</a></h3>
                                        <span class="price"><span class="amount">S/ 9.00</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- #product-250 -->
            </div>


            <!--Sidebar Right-->
            <aside id="content-right" class="content-right col-sm-4 col-md-3 col-lg-3">


                <div id="woocommerce_product_categories-2" class="shoping-cart-widget woocommerce widget_product_categories">
                    <h3>Categorías</h3>
                    <ul class="product-categories">
                        <li class="cat-item"><a href="#">Comics</a></li>
                        <li class="cat-item"><a href="#">Revistas</a></li>
                        <li class="cat-item"><a href="#">Clásicos</a></li>

                    </ul>
                </div>
                @*<div id="woocommerce_product_search-2" class="shoping-cart-widget woocommerce widget_product_search">
                        <h3>Search</h3>
                        <form role="search" method="get" id="searchform3" action="#">
                            <input type="text" value="" name="s" id="s3" placeholder="Search for product">
                             <input type="submit" id="searchsubmit" value="Search" />
                            <span><button class="search-submit" id="submit_btn" type="submit"><i class="fa fa-search"></i></button></span>
                            <input type="hidden" name="post_type" value="product">
                        </form>
                    </div>*@
                <div id="woocommerce_product_tag_cloud-2" class="shoping-cart-widget woocommerce widget_product_tag_cloud">
                    <h3>Tags Clound</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-link-33" title="1 topic">comic</a>
                        <a href="#" class="tag-link-41" title="3 topics">comics</a>
                        <a href="#" class="tag-link-34" title="1 topic">
                            Superman</>
                            <a href="#" class="tag-link-34" title="1 topic">clasicos</a>
                            <a href="#" class="tag-link-35" title="1 topic">Batman</a>
                            <a href="#" class="tag-link-44" title="1 topic">Marvel</a>

                    </div>
                </div>

                <div id="woocommerce_top_rated_products-2" class="shoping-cart-widget woocommerce widget_top_rated_products">
                    <h3>Top Rate</h3>
                    <ul class="product_list_widget">
                        <li>
                            <a class="product-content-widget-image" href="#" title="Infinity Keychain">
                                <img width="104" height="106" src="~/imagenes/product/img7-104x106.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="img7" />
                            </a>
                            <div class="product-content-widget-right">
                                <h4><a href="#"><span class="product-title">Infinity Keychain</span></a></h4>
                                <div class="star-rating" title="Rated 5 out of 5"><span><strong class="rating">5</strong> out of 5</span></div>
                                <span class="amount">S/ 18.00</span>
                            </div>

                        </li>
                        <li>
                            <a class="product-content-widget-image" href="#" title="Flannel Throw - Peach">
                                <img width="104" height="106" src="~/imagenes/product/img4-104x106.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="img4" />
                            </a>
                            <div class="product-content-widget-right">
                                <h4><a href="#"><span class="product-title">Flannel Throw - Peach</span></a></h4>
                                <div class="star-rating" title="Rated 4.67 out of 5"><span><strong class="rating">4.67</strong> out of 5</span></div>
                                <span class="amount">S/ 35.00</span>
                            </div>

                        </li>
                        <li>
                            <a class="product-content-widget-image" href="#" title="Field Bag">
                                <img width="104" height="106" src="~/imagenes/product/img5-104x106.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="img5" />
                            </a>
                            <div class="product-content-widget-right">
                                <h4><a href="#" title="Field Bag"><span class="product-title">Field Bag</span></a></h4>
                                <div class="star-rating" title="Rated 5 out of 5"><span><strong class="rating">5</strong> out of 5</span></div>
                                <span class="amount">S/ 9.00</span>
                            </div>

                        </li>
                    </ul>
                </div>
            </aside>
            <!--Sidebar Right-->
        </div>
    </div>
</div>
<!-- End / Main content -->