@{
    ViewData["Title"] = "Tienda";
}
}

<!-- Main content -->
<div id="main_container" class="ts-page-shop woocommerce woocommerce-page">
    <!-- Banner -->
    <div class="container">
        <div class="main-banner-shop">
            <h2>TIENDA DE COMICS</h2>
            <div class="hr"></div>
            <p>Quisque et lacinia nisi, ut ullamcorper est. Etiam sed pulvinar turpis. Maecenas ornare felis eros</p>
            <p>nec luctus ante convallis non</p>
        </div>
    </div>
    <!-- End Banner -->

    <div class="container">
        <div class="row">
            <div id="content-left" class="content-left page-with-sidebar col-sm-8 col-md-9 col-lg-9">
                <nav class="woocommerce-breadcrumb"><a href="#">Home</a>&nbsp;/&nbsp;Shop</nav>
                <div class="products">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 first odd post-250 product type-product status-publish has-post-thumbnail product_cat-bags product_cat-home-goods product_tag-bag product_tag-blue shipping-taxable purchasable product-type-simple product-cat-bags product-cat-home-goods product-tag-bag product-tag-blue instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/img3-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img3">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="250" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">Batman: The Killing Joke</a></h3>
                                <span class="price"><span class="amount"> S/ 20.00</span></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/img5-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">Superman: Red Son</a></h3>
                                <span class="price"><span class="amount"> S/ 9.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 product last type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/DSC02045_sq-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">The Sandman: Dream Country</a></h3>
                                <span class="price"><span class="amount"> S/ 11.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 first  product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/img9-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">X-Men Days of Future Past</a></h3>
                                <span class="price"><span class="amount"> S/ 30.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4  product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/img4-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">The Walking Dead</a></h3>
                                <span class="price"><span class="amount"> S/ 35.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 last  product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/img7-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">Crisis on Infinite Earths</a></h3>
                                <span class="price"><span class="amount"> S/ 8.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 first  product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/img2-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">Marvel Civil War</a></h3>
                                <span class="price"><span class="amount"> S/ 9.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4   product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/imh90-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">Batman The Dark Knight</a></h3>
                                <span class="price"><span class="amount"> S/ 15.00</span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 last   product type-product status-publish has-post-thumbnail product_cat-bags product_tag-bags downloadable shipping-taxable purchasable product-type-simple product-cat-bags product-tag-bags instock">
                            <a href="~/Producto">	</a>
                            <div class="ts-product-img">
                                <a href="~/Producto">
                                    <img width="264" height="290" src="~/imagenes/product/origin3-rose-264x290.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="img5">
                                </a>
                                <div class="ts-cart-woocomer">
                                    <a href="#" rel="nofollow" data-product_id="263" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a>
                                </div>
                            </div>
                            <div class="ts-product-info">
                                <h3><a href="~/Producto">The Death of Superman</a></h3>
                                <span class="price"><span class="amount"> S/ 35.00</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sortby-result">
                    <!--<h2 class="page-title text-uppercase bold">Shop</h2>-->
                    <p class="woocommerce-result-count">Showing 1–9 of 11 results</p>
                    <div id="categories-6" class="widget widget_categories woocommerce-ordering">
                        <label class="screen-reader-text" for="cat">Default sorting</label>
                        <select name="cat" id="cat" class="postform ts-select" tabindex="-1" title="Categories">
                            <option value="-1">Default sorting</option>
                            <option class="level-0" value="49">Sort by popularity</option>
                            <option class="level-0" value="3">Sort by average rating</option>
                            <option class="level-0" value="5">Sort by newness</option>
                            <option class="level-0" value="2">Sort byPrecio:  low to high</option>
                            <option class="level-0" value="6">Sort byPrecio:  high to low</option>

                        </select>
                    </div>
                </div>
                <nav class="woocommerce-pagination">
                    <ul class="page-numbers">
                        <li><span class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="next page-numbers" href="#">→</a></li>
                    </ul>
                </nav>
            </div>


            <!--Sidebar Right-->
            <aside id="content-right" class="content-right col-sm-4 col-md-3 col-lg-3">


                <div id="woocommerce_product_categories-2" class="shoping-cart-widget woocommerce widget_product_categories">
                    <h3>Categorías</h3>
                    <ul class="product-categories">
                        <li class="cat-item"><a href="#">Comics</a></li>
                        <li class="cat-item"><a href="#">Revistas</a></li>
                        <li class="cat-item"><a href="#">Clásicos</a></li>

                    </ul>
                </div>
                @*<div id="woocommerce_product_search-2" class="shoping-cart-widget woocommerce widget_product_search">
                        <h3>Search</h3>
                        <form role="search" method="get" id="searchform3" action="#">
                            <input type="text" value="" name="s" id="s3" placeholder="Search for product">
                             <input type="submit" id="searchsubmit" value="Search" />
                            <span><button class="search-submit" id="submit_btn" type="submit"><i class="fa fa-search"></i></button></span>
                            <input type="hidden" name="post_type" value="product">
                        </form>
                    </div>*@
                <div id="woocommerce_product_tag_cloud-2" class="shoping-cart-widget woocommerce widget_product_tag_cloud">
                    <h3>Tags Clound</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-link-33" title="1 topic">comic</a>
                        <a href="#" class="tag-link-41" title="3 topics">comics</a>
                        <a href="#" class="tag-link-34" title="1 topic">
                            Superman</>
                            <a href="#" class="tag-link-34" title="1 topic">clasicos</a>
                            <a href="#" class="tag-link-35" title="1 topic">Batman</a>
                            <a href="#" class="tag-link-44" title="1 topic">Marvel</a>

                    </div>
                </div>

                <div id="woocommerce_top_rated_products-2" class="shoping-cart-widget woocommerce widget_top_rated_products">
                    <h3>Top Rate</h3>
                    <ul class="product_list_widget">
                        <li>
                            <a class="product-content-widget-image" href="#" title="Infinity Keychain">
                                <img width="104" height="106" src="~/imagenes/product/img7-104x106.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="img7" />
                            </a>
                            <div class="product-content-widget-right">
                                <h4><a href="#"><span class="product-title">Infinity Keychain</span></a></h4>
                                <div class="star-rating" title="Rated 5 out of 5"><span><strong class="rating">5</strong> out of 5</span></div>
                                <span class="amount">S/ 18.00</span>
                            </div>

                        </li>
                        <li>
                            <a class="product-content-widget-image" href="#" title="Flannel Throw - Peach">
                                <img width="104" height="106" src="~/imagenes/product/img4-104x106.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="img4" />
                            </a>
                            <div class="product-content-widget-right">
                                <h4><a href="#"><span class="product-title">Flannel Throw - Peach</span></a></h4>
                                <div class="star-rating" title="Rated 4.67 out of 5"><span><strong class="rating">4.67</strong> out of 5</span></div>
                                <span class="amount">S/ 35.00</span>
                            </div>

                        </li>
                        <li>
                            <a class="product-content-widget-image" href="#" title="Field Bag">
                                <img width="104" height="106" src="~/imagenes/product/img5-104x106.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="img5" />
                            </a>
                            <div class="product-content-widget-right">
                                <h4><a href="#" title="Field Bag"><span class="product-title">Field Bag</span></a></h4>
                                <div class="star-rating" title="Rated 5 out of 5"><span><strong class="rating">5</strong> out of 5</span></div>
                                <span class="amount">S/ 9.00</span>
                            </div>

                        </li>
                    </ul>
                </div>
            </aside>
            <!--Sidebar Right-->
        </div>
    </div>
</div>
<!-- End / Main content -->