<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Memory</title>
	<meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="images/favicon.ico" />
	
	<link rel='stylesheet' href='assets/css/shortcodes.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/simple-line-icons.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/bootstrap-colorpicker.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/prettyPhoto.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/justifiedGallery.min.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/easy-responsive-tabs.css' type='text/css'  />
	<link rel='stylesheet' href='assets/css/select2.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/owl.carousel.css' type='text/css'/>
	<link rel='stylesheet' href='assets/css/elegant-font.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/styles.css' type='text/css'  />
	<link rel='stylesheet' href='assets/css/custom.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/menueffect.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/woocommerce/chosen.css' type='text/css'/>
	<link rel='stylesheet' href='assets/css/woocommerce/woocommerce.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/js_composer.css' type='text/css' />
	<link rel='stylesheet' href='assets/css/template.css' type='text/css' />
	<link rel='stylesheet' id='redux-google-fonts-memory-css'  href='https://fonts.googleapis.com/css?family=Montserrat%3A400&#038;subset=latin&#038;ver=1446953476' type='text/css' media='all' />
</head>

<body class="home blog">
    <!--Wrapper-->
    <div id="wrapper" class="intro-effect-push">
         <header>        
            <div class="ts-main-header main-header-style2 headerMenu">
             <div class="main-header">
                    <div class="over-lay" data-bg="rgba(255,255,255,0.5)"></div>
					<h1 class="logo">
						<a href="index.html">
							<img alt="" src="images/logo.png"/>
						</a>
					</h1>                            
				</div>
               <div class="main-menu-2">
                    <div class="container">
                        <div class="ts-mainmenu-center">
                            <div class="ts-mainmenu">
                                <div class="head-socials">
									 <a href="javascript:void(0)" class="ts-social-togole"><i class="fa fa-share-alt"></i></a>
								</div>
                                <a href="javascript:void(0)" class="ts-togole-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                                <nav class="main-menu nav-menu">
                                    <ul class="menu-nav list-inline ts-response-simple ts-response-stack ts-effect-slide-right">
										<li class="menu-item current_page_ancestor menu-item-has-children  dropdown">
											<a title="Home" href="index.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Home</a>
											<ul role="menu" class=" dropdown-menu">
												<li  class="menu-item current-menu-parent menu-item-has-children dropdown">
													<a href="#">Blog Standard</a>
													<ul role="menu" class=" dropdown-menu">
														<li class="menu-item"><a href="standard-fullwith.html">Standard Fullwith</a></li>
														<li class="menu-item"><a href="standard-right-sidebar.html">Standard Right Sidebar</a></li>
														<li class="menu-item current-menu-item active"><a href="standard-left-sidebar.html">Standard Left Sidebar</a></li>
													</ul>
												</li>
												<li class="menu-itemb menu-item-has-children dropdown"><a href="#">Blog Masonry</a>
													<ul class=" dropdown-menu">
														<li class="menu-item"><a href="masonry-fullwith.html">Masonry Fullwith</a></li>
														<li class="menu-item"><a href="masonry-left-sidebar.html">Masonry Left Sidebar</a></li>
														<li class="menu-item"><a href="masonry-right-sidebar.html">Masonry Right Sidebar</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children dropdown"><a href="#">Blog List</a>
													<ul role="menu" class=" dropdown-menu">
														<li class="menu-item"><a href="list-fullwith.html">List fullwith</a></li>
														<li class="menu-item"><a href="list-right-sidebar.html">List Right Sidebar</a></li>
														<li class="menu-item"><a href="list-left-sidebar.html">List Left Sidebar</a></li>
													</ul>
												</li>
												<li class="menu-item menu-item-has-children dropdown"><a href="#">Blog Grid</a>
													<ul role="menu" class=" dropdown-menu">
														<li class="menu-item"><a href="gird-fullwith.html">Gird Fullwith</a></li>
														<li class="menu-item"><a href="gird-left-sidebar.html">Gird Left Sidebar</a></li>
														<li class="menu-item"><a href="gird-right-sidebarac.html">Gird Right Sidebarac</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="menu-item"><a href="lifestyle.html">LIFESTYLE</a></li>
										<li class="menu-item menu-item-object-megamenu  megamenu-item  menu-item-has-children">
											<a href="#">Travel</a>
											<ul class=" dropdown-menu">
												<li>
													<div class="megamenu-content ">
														<div class="vc_col-sm-3">
															<div class=" its-single-post">
																<a href="#">
																	<figure>
																		<img alt="" src="images/16-633x391.jpg">
																	</figure>
																</a>
																<h2 class="widget-post-title"><a href="cycling-in-seattle.html">Cycling in Seattle</a></h2>
																<div class="widget-post">
																	<figure><img alt="" src="images/avatar1.png"></figure>
																	<div>
																		<p class="widget-post-author">By:&nbsp;<a href="#">admin</a></p>
																		<p class="widget-post-date-creat">April 27, 2015</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="vc_col-sm-3">
															<div class=" its-single-post">
																<a href="#">
																	<figure>
																		<img alt="" src="images/12-633x391.jpg">
																	</figure>
																</a>
																<h2 class="widget-post-title"><a href="happy-weekend-day.html">Childhood Memory</a></h2>
																<div class="widget-post">
																	<figure><img alt="" src="images/avatar1.png"></figure>
																	<div>
																		<p class="widget-post-author">By:&nbsp;<a href="#">admin</a></p>
																		<p class="widget-post-date-creat">April 27, 2015</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="vc_col-sm-3">
															<div class=" its-single-post">
																<a href="#">
																	<figure>
																		<img alt="" src="images/18-633x391.jpg">
																	</figure>
																</a>
																<h2 class="widget-post-title"><a href="orange-in-my-life.html">Time &amp; Basketball</a></h2>
																<div class="widget-post">
																	<figure><img alt="" src="images/avatar1.png"></figure>
																	<div>
																		<p class="widget-post-author">By:&nbsp;<a href="#">admin</a></p>
																		<p class="widget-post-date-creat">April 27, 2015</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="vc_col-sm-3">
															<div class=" its-single-post">
																<a href="#">
																	<figure>
																		<img alt="" src="images/17-633x391.jpg">
																	</figure>
																</a>
																<h2 class="widget-post-title"><a href="can-you-feel-me.html">Can You Feel Me</a></h2>
																<div class="widget-post">
																	<figure><img alt="" src="images/avatar1.png"></figure>
																	<div>
																		<p class="widget-post-author">By:&nbsp;<a href="#">admin</a></p>
																		<p class="widget-post-date-creat">April 27, 2015</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li class="menu-item"><a href="music.html">MUSIC</a></li>
										<li class="menu-item menu-item-object-megamenu  megamenu-item">
											<a href="#">FEATURES</a>
											<ul class=" dropdown-menu">
												<li>
													<div class="megamenu-content ">
														<div class="vc_col-sm-4">
															<div class="widget widget_nav_menu">
																<h2 class="widgettitle">Post formats</h2>
																<ul id="menu-post-formats" class="menu">
																	<li class="menu-item"><a href="images.html">Post with img</a></li>
																	<li class="menu-item"><a href="post-gallery.html">Post with galery</a></li>
																	<li class="menu-item"><a href="slide.html">Post with Slider</a></li>
																	<li class="menu-item"><a href="quote.html">Post with Quote</a></li>
																	<li class="menu-item"><a href="link.html">Post with Link</a></li>
																</ul>
															</div>
														</div>
														<div class="vc_col-sm-4">
															<div class="widget widget_nav_menu">
																<h2 class="widgettitle">Why you by it</h2>
																<ul class="menu">
																	<li class="menu-item"><a href="unlimited-widget.html">Unlimited widget</a></li>
																	<li class="menu-item"><a href="shortcode.html">Shortcode</a></li>
																	<li class="menu-item"><a href="typography.html">Typography</a></li>
																	<li class="menu-item"><a href="gallery.html">Gallery</a></li>
																	<li class="menu-item"><a href="account.html">Custom Login Page</a></li>
																</ul>
															</div>
														</div>
														<div class="vc_col-sm-4">
															<div class="wpb_single_image vc_align_left">
																<div class="vc_single_image-wrapper vc_box_border_grey"><img width="275" height="219" src="images/img-1231.png" class="vc_single_image-img attachment-full" alt="img-1231" /></div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li class="menu-item"><a href="about.html">About</a></li>
										<li class="menu-item menu-item-has-children dropdown">
											<a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Shop</a>
											<ul role="menu" class=" dropdown-menu">
												<li class="menu-item"><a title="Shop" href="shop.html">Shop</a></li>
												<li class="menu-item"><a title="Cart" href="cart.html">Cart</a></li>
												<li class="menu-item"><a title="Checkout" href="checkout.html">Checkout</a></li>
												<li class="menu-item"><a title="My Account" href="account.html">My Account</a></li>
											</ul>
										</li>
										<li class="menu-item"><a href="contact.html">Contact</a></li>
										<li class="mini-shoping-cart-wraper menu-item menu-item-type-post_type menu-item-object-page ">      
											<a class="cart-contents" href="#" title="View your shopping cart">
											  <i class="fa fa-shopping-cart"></i>
											  <span class="cart-number-items">0</span></a>
											<div class="dropdown-menu mini-shoping-cart">
												<div class="widget_shopping_cart_content">
													<ul class="cart_list product_list_widget ">
															<li class="empty">No products in the cart.</li>
													</ul>
												</div>
											</div>
										</li>
									</ul>                              
								 </nav>
								<div class="header-search pull-right">
									<span class="search-togole"><i class="fa fa-search"></i></span>
								</div>
							</div>
						</div>           
					</div>        
				</div>	
			</div>
		</header>

        <div id="ts-search-box">
			<div class="search-overlay"></div>
			<div class="ts-search-pos">
				<div class="container">
					<div class="ts-serch-inner">
						<div class="section-title text-center">
							<h3 class="text-uppercase">Do you want search ?</h3>
							<div class="hr"></div>
						</div>
						<form id="searchform" class="ts-form-search"  method="GET">
						  <input type="search" name="s" id="s" value="" placeholder="Type and hit enter..." />
						  <span><button class="search-submit" type="submit"><i class="fa fa-search"></i></button></span>
						</form>
						<span class="close-search">Close</span>
					</div>
				</div>
			</div>
		</div>
			
		<div class="ts-social-header">
			<div class="social-overlay"></div>
			<div class="ts-social-inner">
				<div class="section-title  text-center">
					<h3 class="text-uppercase">Follow Me</h3>
					<div class="hr"></div>
				</div>
				<ul class="list-social">
					<li><a target="_blank" href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
				</ul>
				<span class="close-social">Close</span>
			</div>
		</div>
			
		<section class="ts-tabslide">
			<div id="tabs-slidepost">
				<div id="ts-post-features">
					<div class="tab-list-post">		  
						<div class="item-post">
							<a href="#"><figure><img src="images/8-633x391.jpg" alt="Image"/></figure></a>
							<div class="info">
								<span class="category-name"><a href="#">Lifestyle</a></span>
								<div class="post-title">
									<h3><a href="#">A Healthy Habit</a></h3>
									<a href="#"><span class="icon-postbanner"><img src="assets/images/icon-postbanner.png" alt="A Healthy Habit"/></span></a>
								</div>
							</div>
						</div>
								  
						<div class="item-post">
							<a href="#"><figure><img src="images/1-633x391.jpg" alt="Image"/></figure></a>
							<div class="info">
								<span class="category-name"><a href="#">Food &amp; Drink</a></span>
								<div class="post-title">
									<h3><a href="#">Valentines Day</a></h3>
									<a href="#"><span class="icon-postbanner"><img src="assets/images/icon-postbanner.png" alt="Valentines Day"/></span></a>
								</div>
							</div>
						</div>
								  
						<div class="item-post">
							<a href="#"><figure><img src="images/9-633x391.jpg" alt="Image"/></figure></a>
							<div class="info">
								<span class="category-name"><a href="#">Lifestyle</a></span>
								<div class="post-title">
									<h3><a href="#">Working Date</a></h3>
									<a href="#"><span class="icon-postbanner"><img src="assets/images/icon-postbanner.png" alt="Working Date"/></span></a>
								</div>
							</div>
						</div>
								  
						<div class="item-post">
							<a href="#"><figure><img src="images/2-633x391.jpg" alt="Image"/></figure></a>
							<div class="info">
								<span class="category-name"><a href="#">Lifestyle</a></span>
								<div class="post-title">
									<h3><a href="#">Flowers &amp; Decorations</a></h3>
									<a href="#"><span class="icon-postbanner"><img src="assets/images/icon-postbanner.png" alt="Flowers &amp; Decorations"/></span></a>
								</div>
							</div>
						</div>				
					</div>
				</div>
				
			</div><!--End tabs-->
			<div class="ts-nav-sliders">
				<div class="nav-controls">
					<a href="javascript:void(0)" class="nav-control nav-control-latest active" data-post="featured">
						<span class="ts-border"></span>
						<i class="fa fa-star-o"></i><hr/>
						<span class="label">Features</span>
					</a>
					<a href="javascript:void(0)" class="nav-control nav-control-random " data-post="random">
						<span class="ts-border"></span>
						<i class="fa fa-retweet"></i><hr/>
						<span class="label">Random</span>
					</a>
					<a href="javascript:void(0)" class="nav-control nav-control-favorites " data-post="favorites">
						<span class="ts-border"></span>
						<i class="fa fa-bookmark-o"></i><hr/>
						<span class="label">Favorites</span>
					</a>
				</div>
			</div>
		</section>
		
		<!-- Main content -->
		<div id="main_container">
        <div class="container ipage" >
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="ts-blog blog_peronal">
										<div id="post-45" class="ts_author_hide blog-item text-center post-45 post type-post status-publish format-image has-post-thumbnail hentry category-lifestyle tag-lifestyle post_format-post-format-image">
											<div class="post-meta-type post-image">
												<a href="#"><figure><img src="images/8.jpg" alt="A Healthy Habit"></figure></a>
											</div>
											<article>                  
												<div class="bg-category">
													<div class="category-name">
														<span><a href="#" rel="category tag">Lifestyle</a></span>									
													</div>
												</div>
												<div class="title-blogitem text-center">
													<h3><a href="#">A Healthy Habit</a></h3>
													<hr>
												</div>
												 <div class="except-post text-left">
													<p>Mauris sem sem, maximus ac sem auctor, cursus congue massa. Aliquam erat volutpat. Donec maximus libero turpis, sed consequat sapien semper quis. Ut aliquet posuere dui, quis elementum sem maximus quis. Sed volutpat iaculis augue vitae ullamcorper. Aenean dignissim, enim eu condimentum varius, ...</p>                                                                        							
												</div>
												<a class="blog-read ts-button" href="#">read more</a>                            												
												<div class="bottom-blog">    
													<ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
														<li><i class="fa fa-clock-o"></i>April 27, 2015</li>
													</ul>
													<a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
													<ul class="group-share pull-right">
														<li><a href="https://twitter.com/home?status=http://memory.themestudio.net"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://memory.themestudio.net"><i class="fa fa-facebook"></i></a></li>
														<li><a href="https://plus.google.com/share?url=http://memory.themestudio.net"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description=http://memory.themestudio.net"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
													</ul>                      
												</div>
											</article>
										</div>
										<div class="ts_author_hide blog-item text-center post-43 post type-post status-publish format-image has-post-thumbnail hentry category-food-drink post_format-post-format-image">
											<div class="post-meta-type post-image">
												<a href="#"><figure><img src="images/1.jpg" alt="Valentines Day"></figure></a>
											</div>
											<article>                    	
												<div class="bg-category">
													<div class="category-name">
														<span><a href="#" rel="category tag">Food &amp; Drink</a></span>								
													</div>
												</div>
												<div class="title-blogitem text-center">
													<h3><a href="#">Valentines Day</a></h3>
													<hr>
												</div>
												<div class="except-post text-left">
													<p>Quisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesque fermentum, felis vel lacinia pulvinar, erat neque tincidunt sapien, sit amet varius lacus justo id nisi. Nunc euismod lacus lectus, ...</p>                                                                        							
												</div>
												<a title="READ MORE" class="blog-read ts-button" href="valentines-day.html">read more</a>                            											
												<div class="bottom-blog">    
													<ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
														<li><i class="fa fa-clock-o"></i>April 27, 2015</li>
													</ul>
													<a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
													<ul class="group-share pull-right">
														<li><a href="https://twitter.com/home?status=http://memory.themestudio.net"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://memory.themestudio.net"><i class="fa fa-facebook"></i></a></li>
														<li><a href="https://plus.google.com/share?url=http://memory.themestudio.net"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description=http://memory.themestudio.net"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
													</ul>                      
												</div>
											</article>
										</div>
										<div class="ts_author_hide blog-item text-center post-41 post type-post status-publish format-audio has-post-thumbnail hentry category-audio tag-lifestyle post_format-post-format-audio">
											<div class="post-meta-type post-audio">
												 <p><iframe width="960" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/143037212&amp;auto_play=false&amp;hide_related=true&amp;visual=true"></iframe></p> 
											</div>
											<article>
												<div class="bg-category">
													<div class="category-name">
														<span><a href="#" rel="category tag">Audio</a></span>												
													</div>
												</div>
												<div class="title-blogitem text-center">
													<h3><a href="#">Cycling in Seattle</a></h3>
													<hr>
												</div>
												<div class="except-post text-left">
													<p>Quisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien, sit amet varius lacus justo id nisi. Nunc euismod lacus lectus, ...</p>                                                                        								
												</div>											
												<a title="READ MORE" class="blog-read ts-button" href="cycling-in-seattle.html">read more</a>                            												
												<div class="bottom-blog">    
													<ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
														<li><i class="fa fa-clock-o"></i>April 27, 2015</li>
													</ul>
													<a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
													<ul class="group-share pull-right">
														<li><a href="https://twitter.com/home?status=http://memory.themestudio.net"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://memory.themestudio.net"><i class="fa fa-facebook"></i></a></li>
														<li><a href="https://plus.google.com/share?url=http://memory.themestudio.net"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description=http://memory.themestudio.net"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
													</ul>                      
												</div>
											</article>
										</div>
										<div class="ts_author_hide blog-item text-center post-39 post type-post status-publish format-gallery has-post-thumbnail hentry category-food-drink post_format-post-format-gallery">
											<div class="post-meta-type post-gallery justified-gallery">
												<div class="img-item jg-entry">
												<img src="images/gallery/gallery-1.png" alt="" >
												<div class="caption" >
													<div class="ts-view-gallery">
														<span class="table-cell">
															<a class="lightbox" href="images/gallery/gallery-1.png" title="" rel="galleryPhoto[photo_gallery]">
																<svg width="50" height="50">
																	<line x1="25" y1="0" x2="25" y2="50" style="stroke-width:1"></line>
																	<line x1="0" y1="25" x2="50" y2="25" style="stroke-width:1"></line>
																</svg>
															</a>
														</span>
													</div>
												</div>
												</div>
												<div class="img-item jg-entry">
													<img src="images/gallery/7.jpg" alt="">
													<div class="caption">
														<div class="ts-view-gallery">
															<span class="table-cell">
																<a class="lightbox" href="images/gallery/7.jpg" title="" rel="galleryPhoto[photo_gallery]">
																	<svg width="50" height="50">
																		<line x1="25" y1="0" x2="25" y2="50" style="stroke-width:1"></line>
																		<line x1="0" y1="25" x2="50" y2="25" style="stroke-width:1"></line>
																	</svg>
																</a>
															</span>
														</div>
													</div>
												</div>
												<div class="img-item jg-entry" >
													<img src="images/gallery/4.jpg" alt="">
													<div class="caption" >
														<div class="ts-view-gallery">
															<span class="table-cell">
																<a class="lightbox" href="images/gallery/4.jpg" title="" rel="galleryPhoto[photo_gallery]">
																	<svg width="50" height="50">
																		<line x1="25" y1="0" x2="25" y2="50" style="stroke-width:1"></line>
																		<line x1="0" y1="25" x2="50" y2="25" style="stroke-width:1"></line>
																	</svg>
																</a>
															</span>
														</div>
													</div>
												</div>
												<div class="img-item jg-entry" >
													<img src="images/gallery/gallery-3.png" alt="">
													<div class="caption" >
														<div class="ts-view-gallery">
															<span class="table-cell">
																<a class="lightbox" href="images/gallery/gallery-3.png" title="" rel="galleryPhoto[photo_gallery]">
																	<svg width="50" height="50">
																		<line x1="25" y1="0" x2="25" y2="50" style="stroke-width:1"></line>
																		<line x1="0" y1="25" x2="50" y2="25" style="stroke-width:1"></line>
																	</svg>
																</a>
															</span>
														</div>
													</div>
												</div>
												<div class="img-item jg-entry">
													<img src="images/gallery/20.jpg" alt="">
													<div class="caption" >
														<div class="ts-view-gallery">
															<span class="table-cell">
																<a class="lightbox" href="images/gallery/20.jpg" title="" rel="galleryPhoto[photo_gallery]">
																	<svg width="50" height="50">
																		<line x1="25" y1="0" x2="25" y2="50" style="stroke-width:1"></line>
																		<line x1="0" y1="25" x2="50" y2="25" style="stroke-width:1"></line>
																	</svg>
																</a>
															</span>
														</div>
													</div>
												</div>
											</div>
											<article>                  
												<div class="bg-category">
													<div class="category-name">
														<span><a href="#" rel="category tag">Food &amp; Drink</a></span>									
													</div>
												</div>
												<div class="title-blogitem text-center">
													<h3><a href="your-year-of-writing.html">Your Year of Writing</a></h3>
													<hr>
												</div>
												<div class="except-post text-left">
													<p>Quisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien, sit amet varius lacus justo id nisi. Nunc euismod lacus lectus, ...</p>                                                                        							
												</div>										
												<a title="READ MORE" class="blog-read ts-button" href="#">read more</a>                            
												<div class="bottom-blog">    
													<ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
														<li><i class="fa fa-clock-o"></i>April 27, 2015</li>
													</ul>
													<a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
													<ul class="group-share pull-right">
														<li><a href="https://twitter.com/home?status=http://memory.themestudio.net"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://memory.themestudio.net"><i class="fa fa-facebook"></i></a></li>
														<li><a href="https://plus.google.com/share?url=http://memory.themestudio.net"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description=http://memory.themestudio.net"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
													</ul>                      
												</div>	
											</article>
										</div>
										<div class="ts_author_hide blog-item text-center  post type-post status-publish format-quote has-post-thumbnail hentry category-travel post_format-post-format-quote">
											<div class="post-meta-type post-quote">
												<div class="main-quote">		
													<blockquote><p>Appropriately impact market-driven meta-services via interdependent infrastructures recaptiualize holistic synergy whereas adaptive interfaces</p></blockquote>
													<cite>ThemeStudio</cite>
												</div>
											</div>                        
										</div>
										<div class="ts_author_hide blog-item text-center post type-post status-publish format-link has-post-thumbnail hentry category-food-drink post_format-post-format-link">
											<div class="post-meta-type blog-link">
												<div class="overlay overlay-link"></div>
												<figure><img src="images/10.jpg" alt="Creative Community"></figure>
												<div class="ts-blog-link">
													<a target="_blank" href="http://pltheme.com">http://pltheme.com</a>
												</div>
											</div>
											<article>		             	
												<div class="bg-category">
													<div class="category-name">
														<span><a href="#" rel="category tag">Food &amp; Drink</a></span>		
													</div>
												</div>
												<div class="title-blogitem text-center">
													<h3><a href="#">Creative Community</a></h3>
													<hr>
												</div>
												 <div class="except-post text-left">
													<p>Quisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien, sit amet varius lacus justo id nisi. Nunc euismod lacus lectus, ...</p>                                                                        								
												</div>										
												<a title="READ MORE" class="blog-read ts-button" href="#">read more</a>                            
												<div class="bottom-blog">    
													<ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
														<li><i class="fa fa-clock-o"></i>April 27, 2015</li>
													</ul>
													<a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
													<ul class="group-share pull-right">
														<li><a href="https://twitter.com/home?status=http://memory.themestudio.net"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://memory.themestudio.net"><i class="fa fa-facebook"></i></a></li>
														<li><a href="https://plus.google.com/share?url=http://memory.themestudio.net"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description=http://memory.themestudio.net"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
													</ul>                      
												</div>								
											</article>
										</div>
										<div class="ts_author_hide blog-item text-center post type-post status-publish format-video has-post-thumbnail hentry category-music post_format-post-format-video">
											<div class="post-meta-type post-video">
												<div class="fluid-width-video-wrapper"><iframe src="https://player.vimeo.com/video/121857304"  title="Tabasum"  id="fitvid0"></iframe></div>
											</div>
											<article>      
												<div class="bg-category">
													<div class="category-name">
														<span><a href="#" rel="category tag">Music</a></span>								
													</div>
												</div>
												<div class="title-blogitem text-center">
													<h3><a href="#">Feel Alive</a></h3>
													<hr>
												</div>
												<div class="except-post text-left">
													<p>Quisque id efficitur nibh, in volutpat erat. Morbi vel facilisis nulla, id posuere velit. Maecenas tempor lorem ut molestie malesuada. Nulla facilisi. Pellentesqu&nbsp; fermentum felis vel lacinia pulvinar, erat neque tincidunt sapien, sit amet varius lacus justo id nisi. Nunc euismod lacus lectus, ...</p>                                                                        								
												</div>								
												<a title="READ MORE" class="blog-read ts-button" href="#">read more</a>                            
												<div class="bottom-blog">    
													<ul data-style-blog="masonry" class="blog-date pull-left ccc" data-id="45">
														<li><i class="fa fa-clock-o"></i>April 27, 2015</li>
													</ul>
													<a href="javascript:void(0)" class="pull-right social-togole"><i class="fa fa-share-alt"></i></a>
													<ul class="group-share pull-right">
														<li><a href="https://twitter.com/home?status=http://memory.themestudio.net"><i class="fa fa-twitter"></i></a></li>
														<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://memory.themestudio.net"><i class="fa fa-facebook"></i></a></li>
														<li><a href="https://plus.google.com/share?url=http://memory.themestudio.net"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="https://pinterest.com/pin/create/button/?url=&amp;media=&amp;description=http://memory.themestudio.net"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="mailto:?"><i class="fa fa-envelope-o"></i></a></li>
													</ul>                      
												</div>										
											</article>
										</div>
										<div class="navigation-style2">
											<div class="navigation-style-2">
												<span class="page-numbers current">1</span>
												<a class="page-numbers" href="#">2</a>
												<a class="page-numbers" href="#">3</a>
												<a class="next page-numbers" href="#"><i class="fa fa-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
       
		<!-- End Blog -->
		<section class="top-footer">
			<div class="container">
				<div class="main-top">
					<figure>
						<img alt="Image" src="images/bg-socials-head.png"/>
					</figure>
					<ul class="list-social">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
						<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
						<li><a href="#"><i class="fa fa-rss"></i></a></li>
					</ul>
				</div>
			</div>
		</section>
		<section class="widger-footer">
			<div class="over-lay"></div>
			<div class="container">
				<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="ts_about_me-2 widget TS_About_Me">        
						<div class="ts-about-widget">
							<div class="title-widget">
								<h3>About Me</h3>
							</div>
							<div class="content-aboutwidget">
								<div class="post-thumb">
									<figure><img src="images/avata-about1.png" alt="Avatar"></figure>
								</div>
								<p>Donec eget risus porttitor lectus ates faucibus libero. In neque .Utultricies faucibus ultricies. In rutrum 	<a href="#"> Read more &gt;&gt;</a></p>
							</div>
						</div>
					</div>
				</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="ts_custom_recent_posts-2 widget Ts_Custom_Recent_Posts">
							<h3 class="widget-title">Recent Posts</h3>
							<ul class="recent_posts_list">
								<li><span class="post-img"><a href="#"><img alt="Image" src="images/ts_no_image-90x90.png" /></a></span><a  class="title-post" href="#">Dmeo</a><span class="number-comment">0 &nbsp;Comment</span></li>
								<li><span class="post-img"><a href="#"><img width="60" height="60" src="images/11-150x150.jpg" class="wp-post-image" alt="11" /></a></span><a  class="title-post" href="#">The courage to abandon</a><span class="number-comment">1&nbsp;Comment</span></li>
								<li><span class="post-img"><a href="#"><img width="60" height="60" src="images/23-150x150.jpg" class="size-60x60 wp-post-image" alt="23"  /></a></span><a  class="title-post" href="#">Choose a Finish</a><span class="number-comment">0 &nbsp;Comment</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 last">
						<div class="ts_instagram_widget-2 widget TS_Instagram_Widget">                                
							<div class="instagram">
								<div class="title-widget">
									<h3>Instagram</h3>
								</div>
								<div class="photo-instagram">
									<ul class="list-photo">
										<li><a href="//instagram.com/p/BC0FR4_Ijca" target="_blank"><img src="https://scontent.cdninstagram.com/t51.2885-15/e35/s320x320/12825822_972236382855135_854248711_n.jpg?ig_cache_key=MTIwMzYxMDIyMDA2NzE3NDE3MA%3D%3D.2"  alt="Instagram Image" title="Instagram Image"/></a></li>																	
										<li><a href="//instagram.com/p/BCzr9bnIjV2" target="_blank"><img src="https://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/s320x320/12424673_236937379983468_444789113_n.jpg?ig_cache_key=MTIwMzQ5ODg2Mjk3MzY5NTM1MA%3D%3D.2"  alt="Instagram Image" title="Instagram Image"/></a></li>																									
										<li><a href="//instagram.com/p/BCzD3RMIjU2" target="_blank"><img src="https://scontent.cdninstagram.com/t51.2885-15/e35/s320x320/12784097_525827440929846_589613805_n.jpg?ig_cache_key=MTIwMzMyMjUxNzYwNTk4NzYzOA%3D%3D.2"  alt="Instagram Image" title="Instagram Image"/></a></li>							
										
										<li><a href="//instagram.com/p/BCyxEZvIjWB" target="_blank"><img src="https://scontent.cdninstagram.com/t51.2885-15/e35/s320x320/12530823_952342814820062_1958399003_n.jpg?ig_cache_key=MTIwMzIzOTg1NzI1MjYxMTQ1Nw%3D%3D.2"  alt="Instagram Image" title="Instagram Image"/></a></li>																									
										<li><a href="//instagram.com/p/BC4whjAojep" target="_blank"><img src="https://scontent.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/s320x320/12826247_969767606438399_392813872_n.jpg?ig_cache_key=MTIwNDkyNjMxMTg4ODQ2Nzg4MQ%3D%3D.2" alt="Instagram Image" title="Instagram Image"></a></li>
										<li><a href="//instagram.com/p/BC4whjAojep" target="_blank"><img src="https://scontent.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/s320x320/12826247_969767606438399_392813872_n.jpg?ig_cache_key=MTIwNDkyNjMxMTg4ODQ2Nzg4MQ%3D%3D.2" alt="Instagram Image" title="Instagram Image"></a></li>
									</ul>
									<p>Follow Us&nbsp;<a href="//instagram.com/beautifuldestinations" target="_blank">beautifuldestinations</a></p>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>   
		</section>
		<footer>
			<div class="container">
				<a href="javascript:void(0)" class="back-to-top">
					<span>Back to top</span>
					<i class="fa fa-arrow-up"></i>
				</a>
				<figure class="logo-ft"><img src="images/logo.png"  alt="logo-footer"/></figure>
				<div id="flags_language_selector"></div>
				<p class="copyright">© 2015 Memory Blog by  <a href="#" target="_blank">Pltheme </a> . All rights reserved.</p>
			</div>
		</footer>  
	</div>
	<!-- End / Page wrap -->
		

	<script type='text/javascript' src='assets/js/jquery.js'></script>
	<script type='text/javascript' src='assets/js/jquery-migrate.min.js'></script>    
	<script type='text/javascript' src='assets/js/ts-ajax.js'></script>
	<script type='text/javascript' src='assets/js/comment-reply.min.js'></script>
	<script type='text/javascript' src='assets/js/jquery.form.min.js'></script>
	<script type='text/javascript' src='assets/js/scripts.js'></script>
	<script type='text/javascript' src='assets/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='assets/js/shortcodes.js'></script>
	<script type='text/javascript' src='assets/js/jquery.blockUI.min.js'></script>
	<script type='text/javascript' src='assets/js/themestudio-like.js'></script>
	<script type='text/javascript' src='assets/js/bootstrap.min.js'></script>
	<script type='text/javascript' src='assets/js/bootstrap-colorpicker.min.js'></script>
	<script type='text/javascript' src='assets/js/jquery.prettyPhoto.js'></script>
	<script type='text/javascript' src='assets/js/jquery.justifiedGallery.min.js'></script>
	<script type='text/javascript' src='assets/js/jquery.jplayer.min.js'></script>
	<script type='text/javascript' src='assets/js/jquery.fitvids.js'></script>
	<script type='text/javascript' src='assets/js/easyResponsiveTabs.js'></script>
	<script type='text/javascript' src='assets/js/owl.carousel.min.js'></script>
	<script type='text/javascript' src='assets/js/jquery.sticky.js'></script>
	<script type='text/javascript' src='assets/js/jquery.debouncedresize.js'></script>
	<script type='text/javascript' src='assets/js/select-two.js'></script>
	<script type='text/javascript' src='assets/js/jquery.matchHeight.js'></script>
	<script type='text/javascript' src='assets/js/modernizr.js'></script>
	<script type='text/javascript' src='assets/js/masonry.pkgd.min.js'></script>
	<script type='text/javascript' src='assets/js/ts-blog-masonry.js'></script>
	<script type='text/javascript' src='assets/js/ts-blog-grid.js'></script>
	<script type='text/javascript' src='assets/js/woocomerce.js'></script>
	<script type='text/javascript' src='assets/js/custom.js'></script>
	<script type='text/javascript' src='assets/js/wp-embed.min.js'></script>
	<script type='text/javascript' src='assets/js/js_composer_front.js'></script>
</body>
</html>